version: '3.9'

services:
  db:
    image: postgres:18
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_development
    ports:
      - "5430:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
